<TABLE><TR>
<th>NAME</th>
<th>MEMBERS</th>
<th>LOCATION</th>
<th>MACH DATE</th>
<th>COUNTRY</th>
</tr>
<% @m.each do |a| %>
<tr>

<td><%= a.name%></td>
<td><%= a.member%></td>
<td><%= a.location%></td>
<td><%= a.matchdate%></td>
<td><%= a.country%></td>



<%end%>
</tr></TABLE>